/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #f0e4c8;
    --color01: #a83228;
    --color02: #5a6434;
    --color03: #9a6b14;
    --color04: #6b2c58;
    --color05: #7a2e5a;
    --color06: #3d6b62;
    --color07: #2A2218;
    --color08: #7a6a58;
    --color09: #c44a3c;
    --color10: #6e7a40;
    --color11: #b8861e;
    --color12: #8a4a72;
    --color13: #9a4a72;
    --color14: #4e8a7a;
    --color15: #1a140f;
}
