/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #f6efe0;
    --color01: #a14b42;
    --color02: #6e5a32;
    --color03: #8a5f12;
    --color04: #3d5c9a;
    --color05: #8e4a48;
    --color06: #4a628c;
    --color07: #2B241C;
    --color08: #7a7166;
    --color09: #c45c52;
    --color10: #8a7040;
    --color11: #926318;
    --color12: #5274b8;
    --color13: #a85c58;
    --color14: #5c78a8;
    --color15: #1a1612;
}
